/* General styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden; 
}
body {
    min-height: 100vh;
    height: 100vh;
    max-width: 960px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F9FBFC;
    color: rgba(62, 76, 117);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0.5rem;
    position: relative;
    text-align: center;
}

.button {
    min-width: 190px;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    background-color: rgb(62, 76, 117);
    color: rgb(255, 255, 255);
    padding: 0.75rem 1rem;
    border-radius: 3px;
}

.button:hover {
    border: none;
    cursor: pointer;
    background-color: rgba(62, 76, 117, 0.8);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container h1 {
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 480px;
}

form p {
    margin-bottom: 1rem;
    font-weight: 500;
}

.input-container {
    width: 70%;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

label {
    width: 150px; 
    text-align: right;
}

input[type=text] {
    color: rgba(62, 76, 117);
    max-width: 250px;
    padding: 0.5rem;
    justify-self: flex-end;
}

#play-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    place-content: center;
    gap: 0.2rem;
}

.cell {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(62, 76, 117, 1);
    background-color: rgba(62, 76, 117, 0.8)
}

.cell:hover {
    opacity: 0.7;
}

.game-info {
    visibility: hidden;
    margin: 0 auto;
    border: 3px solid rgba(62, 76, 117, 1);
    width: 680px;
    height: 6rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

#game-updates {
    font-weight: 600;
}

.game-info-constainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;

}
#player1 {
    word-wrap: break-word;
    border-right: 3px solid rgba(62, 76, 117, 1);
}

#player2 {
    border-left: 3px solid rgba(62, 76, 117, 1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 6px;
    max-width: 25rem;
    width: 80%;
    position: relative;
    text-align: center;
}

.modal-message {
    margin: 2rem 0;
    font-weight: 500;
}


/* Footer */
.attribution {
    text-align: center;
    width: 100%;
    padding-bottom: 0.3rem;
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.attribution a {
    margin-left: 0.3rem;
}
